- if logged_in?
  %h2 All tasks

  %table
    %tr
      %th Title
      %th Due Date
      %th User

    - current_user.tasks.each do |task|
      %tr
        %td= task.title
        %td= task.due_date.to_s(:long)
        %td= task.user.email

  %h2 Filtered tasks

  %table
    %tr
      %th Title
      %th Due Date
      %th User

    - current_user.search_tasks('A', limit: 1).each do |task|
      %tr
        %td= task.title
        %td= task.due_date.to_s(:long)
        %td= task.user.email
- else
  %h3 Please log in to get your tasks!