- if logged_in?
  %h2 All tasks

  %table
    %tr
      %th ID
      %th Title
      %th Due Date
      %th User

    - current_user.tasks({}, Api::Task, user: current_user).each do |task|
      %tr
        %td= task.id
        %td= task.title
        %td= task.due_date.to_s(:long)
        %td= task.user.email

  %h2 Filtered tasks

  %table
    %tr
      %th ID
      %th Title
      %th Due Date
      %th User

    - current_user.search_tasks({ title: 'A', limit: 1 }, Api::Task, user: current_user).each do |task|
      %tr
        %td= task.id
        %td= task.title
        %td= task.due_date.to_s(:long)
        %td= task.user.email
- else
  %h3 Please log in to get your tasks!